#logo {
    width: 6%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
}

#nav {
    float: right;
    margin-top: 3%;
}

a:link {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:hover {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:active {
    color: black;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:visited {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

.about {
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}
.center {
    margin-right: 10%;
    margin-left: 10%;
}