#logo {
    width: 6%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#nav {
    float: right;
    margin-top: 3%;
}

.padded {
    padding-right: 7px;
}

a:link {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:hover {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:active {
    color:grey;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:visited {
    color:grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a.current {
    color: #03c6fc;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

.about {
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}
.center1 {
    text-align: center;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
}

.center2 {
    margin-right: 10%;
    margin-left: 10%;
}

/*Gallery*/
:root {
    counter-reset: masonry;
  }
  .masonry {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    grid-auto-rows: 0;
  }

  .masonry-item {
    border-radius: 5px;
  }

  .masonry-item {
     background-color: #eee;
     border-radius: 5px;
     overflow: hidden;
  }

  .masonry-item,
  .masonry-item img {
     position: relative;
  }

  .masonry-item:after {
    font-weight: bold;
    background-color: rgba(0, 0, 0, .5);
    content: counter(masonry);
    counter-increment: masonry;
    position: absolute;
    top: 0;
    left: 0; 
    height: 100%;
    width: 100%;
    color: white;
    display: flex;
    justify-content: center; 
    align-items: center;
    transition: all .1s ease-in;
  }

  .masonry-item:hover:after {
    font-size: 30px;
    background-color: rgba(0, 0, 0, .75);
  }

  /*Resume*/
h2 {
    text-align: center;
    font-size: 3vw;
    font-family: 'Roboto', sans-serif;
    margin-top: 2%;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

h3 {
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Roboto', sans-serif;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    font-weight: lighter;
}

.category {
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
    margin-left: 7%;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

hr {
    width: 86%;
    margin-left: 7%;
    background: #03c6fc;
    height: 0.1vw;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
}

hr.catbreak {
    width: 80%;
    margin-left: 7%;
    border: none;
    background: white;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

.jobtitle {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    text-decoration: underline;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    margin-top: 1%;
    padding-top: 0px;
    border-top: 0px;
}
.details {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 1%;
}

.description {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-left: 7%;
    margin-right: 7%;
}

.description1 {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
}

.resumeitem {
    margin-left: 7%;
    margin-right: 7%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.resumedate {
    text-align: right;
}

.role {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
    font-style: italic;
}
.coursework {
    font-size: 1.5vw;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
    margin-left: 7%;
    margin-right: 7%;
}
