#logo {
    width: 6%;
    height: auto;
}

h1 {
    text-align: center;
    font-size: 5vw;
    font-family: 'Roboto', sans-serif;
    padding-bottom: 0px;
    border-bottom: 0px;
    margin-bottom: 0px;
}

#nav {
    float: right;
    margin-top: 3%;
}

.padded {
    padding-left: 7px;
    padding-right: 7px;
}

a:link {
    color: grey;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:hover {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:active {
    color: black;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a:visited {
    color: grey;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

a.current {
    color: black;
    text-decoration: underline;
    font-family: 'Open Sans', sans-serif;
    font-size: 1.5vw;
}

.about {
    font-size: 2vw;
    font-family: 'Open Sans', sans-serif;
}
.center1 {
    text-align: center;
    padding-top: 0px;
    border-top: 0px;
    margin-top: 0px;
}

.center2 {
    margin-right: 10%;
    margin-left: 10%;
}